a {
	color: #1D861C;
}

a:hover {
	text-decoration: none;
}

.jumbotron {
	background: white;
}

.jumbotron-logo {
	max-height: 400px;
}

.media img {
	width: 128px;
	height: 64px;
	object-fit: contain;
}

.media-body {
	min-height: 128px;
}

.media .badge {
	display: inline-block;
	background: #1D861C !important;
}

.faces a:hover {
	text-decoration: none;
}

.faces i {
	font-size: 200%;
}

.tuned i {
	font-size: 48px;
}
