<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link">Podcast episodes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ethereum killer map <span class="badge badge-pill badge-primary">Soon</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Research blog posts <span class="badge badge-pill badge-primary">Soon</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="https://newsletter.capitalgram.com/">Newsletter</a>
  </li>

</ul>