<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link">Podcast episodes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ethereum killer map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Research blog posts</a>
  </li>
</ul>