<!doctype html>
<html lang="en">
  {% include "components/head.njk" %}
  <body>

    <header>
		{% include "components/nav.njk" %}
    </header>

    <main role="main">

      <div class="container marketing">
        <div class="jumbotron jumbotron-fluid">
          <div class="containern text-center">

            <img src="/static/img/logo.webp" class="jumbotron-logo">

            <h1 class="display-4">Number go up</h1>
            <p class="lead">Research podcast on new blockchains and potential Bitcoin and Ethereum killers</p>
          </div>
        </div>
      </div>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <h2 class="text-center">
              With your amazing hosts
            </h2>
          </div>
        </div>

        <!-- Three columns of text below the carousel -->
        <div class="row justify-content-md-center faces">

          <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="/static/img/mikko.jpg" width="140" height="140">
            <h2>Mikko Ohtamaa</h2>
            <p>Techical research</p>

            <p>

              <a href="https://twitter.com/moo9000">
                <i class="lab la-twitter"></i>
              </a>

              <a href="https://linkedin/in/ohtis">
                <i class="lab la-linkedin-in"></i>
              </a>

            </p>

          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="/static/img/nima.jpg" width="140" height="140">
            <h2>Nima Asghari</h2>
            <p>Community management</p>
            <p>

              <a href="https://twitter.com/insideNiMA/">
                <i class="lab la-twitter"></i>
              </a>

              <a href="https://www.linkedin.com/in/nimaasghari/">
                <i class="lab la-linkedin-in"></i>
              </a>

            </p>

          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="/static/img/nima.jpg" width="140" height="140">
            <h2>Lawrence Chiu</h2>
            <p>Production and marketing</p>
            <p>

              <a href="https://www.linkedin.com/in/lawrencehfchiu/">
                <i class="lab la-linkedin-in"></i>
              </a>

            </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center mt-5">Episodes</h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6">
            <ul class="list-unstyled mt-5">

              <li class="media">
                <img src="/static/img/logo.webp" class="mr-3 align-self-center " alt="...">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Teaser</h5>
                  <span class="badge badge-pill badge-primary">Coming soon</span><br>
                  Sexy announcement and introduction to get us registered on podcast sites. 30 seconds.
                </div>
              </li>

              <li class="media">
                <img src="/static/img/logo.webp" class="mr-3 align-self-center " alt="...">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Introduction</h5>
                  <span class="badge badge-pill badge-primary">Coming soon</span><br>
                  Introducing the team and the goal of the podcast: what is the business of killing Ethereum about. 20 minutes.
                </div>
              </li>
              <li class="media my-4">
                <img src="/static/img/projects/optimism.png" class="mr-3 align-self-center " alt="...">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Optimism</h5>
                  <span class="badge badge-pill badge-primary">Coming soonish</span><br>
                  Optimism layer 2 scaling solution for Ethereum.
                  A solution chosen by Uniswap to scale.
                  20 minutes.
                </div>
              </li>

              <li class="media">
                <img src="/static/img/projects/avalanche.svg" class="mr-3 align-self-center " alt="...">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Avalance</h5>
                  <span class="badge badge-pill badge-primary">Coming soonish</span><br>
                  A dual chain solution with native token transfer chain and EVM chain.
                  20 minutes.
                </div>
              </li>

              <li class="media">
                <img src="/static/img/projects/near.png" class="mr-3 align-self-center" alt="...">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Near</h5>
                  <span class="badge badge-pill badge-primary">Coming soonish</span><br>
                  Near blockchain. A sharded native chain with WebAssembly smart contracts and one EVM shard.
                  20 minutes.
                </div>
              </li>

            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center mt-5">Stay tuned</h2>
          </div>
        </div>

        <div class="row tuned">
          <div class="col-md-12 text-center">

              <a href="https://t.me/number_go_up">
                <i class="lab la-telegram"></i>
              </a>

              <a href="#">
                <i class="lab la-youtube"></i>
              </a>

              <a href="#">
                <i class="las la-rss"></i>
              </a>

          </div>
        </div>

      </div>

      <footer class="mt-4">
        <!-- -->
      </footer>

    </main>


  </body>
</html>

